@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Project

<div class="card card-outline-primary m-1 p-1" style="border-radius">
    <div class="bg-dark text-white p-1">
        <h3>@Model.BookTitle</h3>
        <p>Author: @Model.AuthLName, @Model.AuthFName</p>
        <p>Publisher: @Model.Publisher</p>
        <p>ISBN: @Model.ISBN</p>
        <p>Catergory: @Model.BookCat</p>
        <p>Classification: @Model.BookClass</p>        
        <p>Pages: @Model.Pages</p>
        <span class="badge badge-pill badge-light text-dark" style="float:right"><p>Price: $@Model.BookPrice</p></span>
    </div>
    <div>
        <!--Include the "add to cart" button-->
        <!--These are hidden becuase we only need them to pass data-->
        <form id="@Model.BookId" asp-page="/Purchase" method="post">
            <input type="hidden" asp-for="BookId"/>
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
            <span class="card-text p-1">
                @Model.BookTitle
                <button type="submit" class="btn-success btn-sm pull-right" style="float:right">
                    Add to cart
                </button>
            </span>

        </form>
    </div>
</div>