@page
@model BarkerAssignment5.Pages.PurchaseModel
@{
}
<!--MVVM- Model View View Model-->
<!--Here we will dynamically build a page for our cart-->
<h2>Your cart</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">Book</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Price</th>
            <th class="text-center">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Project.BookTitle</td>
                <td class="text-center">@line.Quantity</td>
                <td class="text-right">$@line.Project.BookPrice</td>
                <td class="text-right">@((line.Quantity * line.Project.BookPrice).ToString("c"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.Cart.ComputeTotalSum().ToString("c")</td>
        </tr>
    </tfoot>

</table>

<div class="text-center" style="float: right">
    <a class="btn btn-dark text-white" href="@Model.ReturnUrl">Continue shopping</a>
</div>